.feynman__link{
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
  position: absolute;
  color: black;
  text-decoration: none;
  top: 50%;
}

.feynman__link:hover{
  opacity: 0.3;
  transition: opacity 1s ease-out 0.5s;
}
